@media (min-width: 320px) and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #e7ecef;
    }

    #img-carrosel {
        height: 150px;
    }

    header {
        background-color: #04346c;
        height: 125px;
    }

    p {
        color: white;
        font-size: 25px;
    }
    span {
        color: white;
    }

    .container-header {
        display: flex;
    }

    .div-category {
        height: 25px;
        background-color: lightblue;
    }

    .section-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card {
        margin-bottom: 20px;
    }

    h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h2 {
        margin-top: 25px;
        margin-bottom: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .center-element-grid {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .center-element-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        background-color: #04346c;
        height: 10vh;
    }

    #margin-category {
        margin-bottom: 25px;
    }
}

@media (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #e7ecef;
    }

    #img-carrosel {
        height: 350px;
    }

    h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h2 {
        margin-top: 25px;
        margin-bottom: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .center-element-grid {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .center-element-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        background-color: #04346c;
        height: 125px;
    }

    p {
        color: white;
        font-size: 25px;
    }
    span {
        color: white;
    }

    .container-header {
        display: flex;
    }

    .section-cards {
        display: flex;
    }

    #margin-category {
        margin-bottom: 25px;
    }

    .center-element {
        margin-top: 50px;
        margin-bottom: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        background-color: #04346c;
        height: 10vh;
        
    }
}
